In [3]:
import pandas as pd
biomass_df = pd.read_csv(r"C:\Users\imaja\OneDrive\Desktop\MBA 2022 -2024\T6\Capstone\Datasets\train+test.csv")

In [4]:
biomass_df

,Index,Latitude,Longitude,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,0,24.66818,71.33144,8.475744,8.868568,9.202181,6.023070,10.788374,6.647325,7.387925,5.180296,7.119092,10.704760
1,1,24.66818,71.41106,24.029778,28.551348,25.866415,21.634459,34.419411,27.361908,40.431847,42.126945,45.937351,26.978222
2,2,24.66818,71.49069,44.831635,66.111168,56.982258,53.003735,70.917908,42.517117,59.181629,73.203232,75.666054,56.543396
3,3,24.66818,71.57031,59.974419,80.821304,78.956543,63.160561,93.513924,70.203171,74.536720,101.067352,94.867676,65.010101
4,4,24.66818,71.64994,14.653370,19.327524,21.928144,17.899586,19.534035,19.165791,16.531315,26.086885,18.417318,24.765160
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2413,2413,20.15456,72.84432,5.199882,4.516778,4.321080,2.658953,5.113997,5.301668,6.419223,5.321604,4.404175,4.952701
2414,2414,20.15456,72.92394,0.122287,0.126717,0.101494,0.111509,0.121749,0.122467,0.145785,0.120626,0.097374,0.110346
2415,2415,20.15456,73.00357,0.039415,0.040843,0.032713,0.035941,0.039241,0.039473,0.046989,0.038879,0.031385,0.035566
2416,2416,20.15456,73.08319,2.719220,1.370163,0.818687,1.205721,1.316443,1.324201,1.576338,1.304297,1.052878,1.193149
2417,2417,20.15456,73.16282,0.621228,0.238414,0.112909,0.209801,0.229067,0.230417,0.274289,0.226953,0.183205,0.207613

In [9]:
import pandas as pd

# Assuming your data is stored in a DataFrame called 'df'
# If not, you can create one using pd.DataFrame(your_data)

# Set 'Index' as the index and transpose the DataFrame
transposed_df = biomass_df.set_index('Index').transpose()

# Reset the index to have 'Year' as a column
transposed_df = transposed_df.reset_index().rename(columns={'index': 'Year'})

Index       Year          0          1          2           3          4  \
0       Latitude  24.668180  24.668180  24.668180   24.668180  24.668180
1      Longitude  71.331440  71.411060  71.490690   71.570310  71.649940
2           2010   8.475744  24.029778  44.831635   59.974419  14.653370
3           2011   8.868568  28.551348  66.111168   80.821304  19.327524
4           2012   9.202181  25.866415  56.982258   78.956543  21.928144
5           2013   6.023070  21.634459  53.003735   63.160561  17.899586
6           2014  10.788374  34.419411  70.917908   93.513924  19.534035
7           2015   6.647325  27.361908  42.517117   70.203171  19.165791
8           2016   7.387925  40.431847  59.181629   74.536720  16.531315
9           2017   5.180296  42.126945  73.203232  101.067352  26.086885
10          2018   7.119092  45.937351  75.666054   94.867676  18.417318
11          2019  10.704760  26.978222  56.543396   65.010101  24.765160

Index          5          6          7          8  ...       2408       2409  \
0      24.668180  24.668180  24.668180  24.668180  ...  20.235160  20.235160
1      71.729560  71.809190  71.888820  71.968440  ...  73.322070  73.401690
2      17.416639  23.568657  48.345234  58.784283  ...  13.863707   7.931598
3      35.811001  37.371216  91.215836  50.206898  ...   7.811646   3.687583
4      26.003826  38.298550  91.906342  60.707321  ...   5.893668   2.922946
5      27.348482  27.838022  41.121754  37.598999  ...   9.202684   3.323191
6      29.599268  40.779961  57.266411  59.462139  ...   8.883372   3.564533
7      22.026114  32.014874  60.263412  38.788315  ...  10.242108   3.614347
8      23.592617  37.771797  72.291153  31.312796  ...  10.309837   4.299843
9      41.749001  55.003929  29.411613  37.497009  ...   9.644080   3.543241
10     41.330009  54.938938  60.955166  36.305840  ...   7.848304   2.859809
11     33.665878  43.916393  81.635170  64.461136  ...   9.801750   3.232138

Index       2410       2411       2412       2413       2414       2415  \
0      20.235160  20.154560  20.154560  20.154560  20.154560  20.154560
1      73.481320  72.685070  72.764690  72.844320  72.923940  73.003570
2       0.169694   0.058233  13.538054   5.199882   0.122287   0.039415
3       0.053225   0.060343  10.666469   4.516778   0.126717   0.040843
4       0.042630   0.048331  11.240523   4.321080   0.101494   0.032713
5       0.046837   0.053100   9.402670   2.658953   0.111509   0.035941
6       0.051138   0.057977  11.319151   5.113997   0.121749   0.039241
7       0.051439   0.058318  12.838338   5.301668   0.122467   0.039473
8       0.061234   0.069423  16.318977   6.419223   0.145785   0.046989
9       0.050666   0.057442  13.510995   5.321604   0.120626   0.038879
10      0.040900   0.046369  10.994938   4.404175   0.097374   0.031385
11      0.046348   0.052547  12.428589   4.952701   0.110346   0.035566

Index       2416       2417
0      20.154560  20.154560
1      73.083190  73.162820
2       2.719220   0.621228
3       1.370163   0.238414
4       0.818687   0.112909
5       1.205721   0.209801
6       1.316443   0.229067
7       1.324201   0.230417
8       1.576338   0.274289
9       1.304297   0.226953
10      1.052878   0.183205
11      1.193149   0.207613

[12 rows x 2419 columns]

In [ ]:
# Drop the first two rows
transposed_df = transposed_df.iloc[2:]

In [13]:
transposed_df

Index,Year,0,1,2,3,4,5,6,7,8,...,2408,2409,2410,2411,2412,2413,2414,2415,2416,2417
2,2010,8.475744,24.029778,44.831635,59.974419,14.653370,17.416639,23.568657,48.345234,58.784283,...,13.863707,7.931598,0.169694,0.058233,13.538054,5.199882,0.122287,0.039415,2.719220,0.621228
3,2011,8.868568,28.551348,66.111168,80.821304,19.327524,35.811001,37.371216,91.215836,50.206898,...,7.811646,3.687583,0.053225,0.060343,10.666469,4.516778,0.126717,0.040843,1.370163,0.238414
4,2012,9.202181,25.866415,56.982258,78.956543,21.928144,26.003826,38.298550,91.906342,60.707321,...,5.893668,2.922946,0.042630,0.048331,11.240523,4.321080,0.101494,0.032713,0.818687,0.112909
5,2013,6.023070,21.634459,53.003735,63.160561,17.899586,27.348482,27.838022,41.121754,37.598999,...,9.202684,3.323191,0.046837,0.053100,9.402670,2.658953,0.111509,0.035941,1.205721,0.209801
6,2014,10.788374,34.419411,70.917908,93.513924,19.534035,29.599268,40.779961,57.266411,59.462139,...,8.883372,3.564533,0.051138,0.057977,11.319151,5.113997,0.121749,0.039241,1.316443,0.229067
7,2015,6.647325,27.361908,42.517117,70.203171,19.165791,22.026114,32.014874,60.263412,38.788315,...,10.242108,3.614347,0.051439,0.058318,12.838338,5.301668,0.122467,0.039473,1.324201,0.230417
8,2016,7.387925,40.431847,59.181629,74.536720,16.531315,23.592617,37.771797,72.291153,31.312796,...,10.309837,4.299843,0.061234,0.069423,16.318977,6.419223,0.145785,0.046989,1.576338,0.274289
9,2017,5.180296,42.126945,73.203232,101.067352,26.086885,41.749001,55.003929,29.411613,37.497009,...,9.644080,3.543241,0.050666,0.057442,13.510995,5.321604,0.120626,0.038879,1.304297,0.226953
10,2018,7.119092,45.937351,75.666054,94.867676,18.417318,41.330009,54.938938,60.955166,36.305840,...,7.848304,2.859809,0.040900,0.046369,10.994938,4.404175,0.097374,0.031385,1.052878,0.183205
11,2019,10.704760,26.978222,56.543396,65.010101,24.765160,33.665878,43.916393,81.635170,64.461136,...,9.801750,3.232138,0.046348,0.052547,12.428589,4.952701,0.110346,0.035566,1.193149,0.207613

In [12]:
# Drop the first two rows
transposed_df = transposed_df.iloc[2:]

In [15]:
#export

transposed_df.to_csv(r"C:\Users\imaja\OneDrive\Desktop\MBA 2022 -2024\T6\Capstone\Datasets\transposed.csv", index=False)